body {
    background-color: #8a6767;
    padding: 10px;
}
header {
    width: 90%;
    height: 150px;
    background-color: rgba(130, 106, 136, 1);
    margin: 20px;
}
div {
    height: 850px;
    float: left;
}
#first {
    float: left;
    background-color: #53639d;
    width: 43.5%;
    margin: 20px;
}
#second {
    float: left;
    background-color: #3e526c;
    width: 43.5%;
    margin: 20px;
}

}
h1 {
    font-size: 72px;
    text-align: center;
}
section {
    margin: 35px 0 35px 0;
    width: 93%;
}

#box1 {
    background-color: rgb(38, 14, 7);
    float: left;
    width: 30%;
    height: 200px;
    margin: 20px 20px 20px 20px;
}
#box2 {
    background-color: rgb(43, 26, 24);
    float: left;
    width: 30%;
    height: 200px;
    margin: 20px 0px 20px 20px;
}
#box3 {
    background-color: rgb(43, 36, 7);
    float: right;
    width: 30%;
    height: 200px;
    margin: 20px 20px 20px 25px;
}
footer {
    clear: both;
    background-color: rgb(123, 146, 237);
    margin: 20px;
    width: 90%;
    height: 100px;
